<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Pinterest">
  <parameter name = "selenium.browser" value="chrome"/>
  <parameter name = "selenium.url" value="https://ar.pinterest.com/"/>
  <test name="Pinterest tests">
    <classes>
      <class name="testObjects.LoginTest"/>
      <class name="testObjects.HomeTest"/>
    </classes>
  </test>
</suite>